/node_modules
/public
/resources
/static/images/games/world-of-warcraft/lever-chest.mkv
/static/images/games/world-of-warcraft/lever-chest_original.png
/static/images/games/world-of-warcraft/lever-chest_sequence*.xcf
/.idea
/.env
