#sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    background-color: palette(background-alternative);
    font-size: 0.9em;
    position: relative;
    width: 24em;

    > .inner {
        padding: 1.7em 1.7em 1.3em;
        position: relative;

        > * {
            margin-top: 2.5em;

            &:first-child {
                margin-top: 0.5em;
            }
            &:not(:last-child):after {
                content: "";
                display: block;
                margin-top: 2.5em;
                border-bottom: 2px solid palette(border);
            }

            h3 {
                border-bottom: 1px solid palette(accent);
                box-shadow: 0 5px 3px -3px rgba(0,0,0,0.2);
            }
        }
    }

    .toggle {
        transition: left 0.5s ease;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        border: 0;
        display: block;
        height: 6.5em;
        left: 26.25em;
        line-height: 7em;
        outline: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        white-space: nowrap;
        top: 0;
        width: 6em;
        z-index: 10000;

        i {
            font-size: 30px;
        }
    }

    &.inactive {
        margin-left: (26em * -1);
    }
}

@include media-breakpoint-up(md) {
    #sidebar {
        .toggle {
            left: 24em;
            width: 5em;

            &:before {
                font-size: 1.5rem;
            }
        }

        &.inactive {
            margin-left: (24em * -1);
        }
    }
}

@include media-breakpoint-down(md) {
    body.is-preload {
        #sidebar {
            display: none;
        }
    }
    #sidebar {
        position: absolute;
        z-index: 10;
    }
}
