.js-trello-tools {
    .form-container {
        display: flex;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        margin: 1em 0 1em 0;
        background: #f5f6f7;
        border-radius: 4px;
    }

    pre {
        background: #f5f6f7;
        padding: 1em;
        border-radius: 4px;
    }

    .list {
        margin-bottom: 1rem;
        padding: 4px;
        border: 1px solid purple;
        border-radius: 4px;
    }
    .list table {
        margin-bottom: 0;
    }
    .list table th,
    .list table td {
        text-align: left;
    }
    .list table th:first-child,
    .list table td:first-child {
        width: 40px;
        text-align: center;
    }
    .list table a {
        color: black;
        text-decoration: none;
    }
    .list table a:hover {
        color: #0099CC;
    }
}
